<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="static/script.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<link rel="stylesheet" type="text/css" href="static/style.css">
<head>
    {% block head %}
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}{% endblock %} - CSCE 470 Project</title>
    {% endblock %}
</head>
<body onload="async_similarity()">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Turn It Out</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="/faq">FAQ</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div style="margin-top: 10px; margin-bottom: 50px" class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">Info Block</span>
                        <hr class="star-light">
                        <span class="info"><h2>{% block header %}{% endblock %}</h2></span>
                        <hr class="star-light">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="content">
    <div class="container" id="content">{% block content %}{% endblock %}</div>
    </section>
    
    <div class="container" style="margin-top: 10%" id="footer">
        {% block footer %}
        &copy; Copyright 2014 by Patrick Rock.
        {% endblock %}
    </div>
</body>
