{% extends "base.html" %}
{% block title %}Writing Tool{% endblock %}
{% block header %}Writing Tool{% endblock %}
{% block content %}
<b>Choose a topic</b>
<input type="text" id="topic"/>
<button id="fetch_button" onclick="fetch()">Get Topic</button>

<div class="row">
<div class="col-md-6">
  <div class="mainbox" id="fetch">
      {% if topic %}
        {{topic}} 
      {% else %}
        no data
      {% endif %} 
  </div>
</div>
<div class="col-md-6">
  <div class="mainbox" id="edit" contenteditable>
       {% if topic %}
        {{topic}} 
      {% else %}
        edit here
      {% endif %} 
  </div>
</div>
</div>

<div class="row">
<div class="col-md-12">
  <div class="mainbox">
    Tools
  </div
</div>
</div>
<div class="row">
<div class="col-md-12">
    <button id="sim_button" onclick="async_similarity()">Compute Similarity</button>
    <p id="sim_score">
      no score
<!--        {% if sim %}
          {{sim}}
        {% else %}
          no score
        {% endif %}-->
    </p>
</div>
</div>

{% endblock %}

