{% extends "base.html" %}
{% block title %}Writing Tool{% endblock %}
{% block header %}Writing Tool{% endblock %}
{% block content %}
<label for="topic">Choose a topic</label>
<input type="text" id="topic"/>
<button id="fetch_button" onclick="fetch()">Get Topic</button>

<div class="row">
<div class="col-md-6">
  <div class="mainbox" id="fetch">
      {% if topic %}
        {{topic}} 
      {% else %}
        no data
      {% endif %} 
  </div>
</div>
<div class="col-md-6">
  <div class="mainbox" id="edit" contenteditable>
     {% if topic %}
        {{topic}} 
      {% else %}
        edit here
      {% endif %}
  </div>
</div>
</div>

<hr class="star-light">

<div class="row" style="margin-top: 10px;">
<div class="col-md-6">
    <label for="tools">Select a tool</label>
    <select name="tools" id="tools" onload="load_tool()" onchange="load_tool()">
      <option value="search">Sentence Search
      <option value="anastrophe">Anastrophe
      <option value="synonym">Synonym
      <option value="merge">Sentence Merge
      <option value="replace">Find and Replace
    </select>
  <div class="toolbox" id="toolbox">
  </div>
</div>
<div class="col-md-6">
    <button id="sim_button" onclick="async_similarity()">Compute Similarity</button>
    <div id="chart" onload="async_similarity()" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
</div>
</div>

{% endblock %}

